.fondo1
  background-image: url('../assets/curso/tema1/fondo1.png')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo2
  background-image: url('../assets/curso/tema1/fondo2.png')
  background-size: 40% 100%
  background-repeat: no-repeat
  background-position: left
  position: relative
  left: -40px
  z-index: 0
  top: 0
  left: 0

.fondo3
  background-image: url('../assets/curso/tema1/fondo3.png')
  background-size: cover
  background-repeat: no-repeat
  background-position: top

.fondo4
  background-image: url('../assets/curso/tema1/fondo4.png')
  background-size: 100% 120%
  background-repeat: no-repeat
  background-position: center
  padding: 20px 50px 10px 50px

.fondo5
  background-image: url('../assets/curso/tema1/fondo5.png')
  background-size: 40% 100%
  background-repeat: no-repeat
  background-position: right
  position: relative
  z-index: 0
  top: 0
  left: 0

.fondo6
  background-image: url('../assets/curso/tema1/fondobook.svg')
  background-size: 80% 80%
  background-position: top
  background-repeat: no-repeat

.fondo7
  background-image: url('../assets/curso/tema1/fondo6.jpg')
  background-size: cover
  background-position: center
  background-repeat: no-repeat

.fondo8
  background-image: url('../assets/curso/tema1/fondo7.png')
  background-size: 100% 100%
  background-position: center
  background-repeat: no-repeat
  position: relative
  top: -10px

.fondo9
  background-color: rgba(121, 218, 225, 0.25) !important

.fondo10
  background-image: url('../assets/curso/tema1/fondo9.svg')
  background-size: 100% 100%
  background-position: left
  background-repeat: no-repeat

.fondo11
  background-image: url('../assets/curso/tema1/fondo10.svg')
  background-size: 100% 100%
  background-position: left
  background-repeat: no-repeat 

.fondo12
  background-image: url('../assets/curso/tema1/fondo11.png')
  background-size: 150% 100%
  background-position: center
  background-repeat: no-repeat

.fondo13
  background-image: url('../assets/curso/tema1/fondo12.jpg')
  background-size: cover
  background-position: center
  background-repeat: no-repeat

.correr-izq
  margin-left: -130px
  z-index: 0

.tarjeta--azul 
  background-color: rgba(96, 174, 180, 0.12) !important

.acordion__activo
  background-image: url('../assets/curso/tema1/fondo8.jpg')
  background-size: cover
  background-position: center
  background-repeat: no-repeat

.fondohistograma
  background-color: #D7EAEB !important

.padTitulo
  padding: 10px 0px 20px 90px !important

.fa-book-open:before
  color: #1A878E

.subir
  margin-top: -100px

.encima
  z-index: 99

.resaltar
  background-color: rgba(121, 218, 225, 0.12)

.ampliar
  margin-left: -50px
  margin-right: -50px

.bajar
  position: relative
  bottom: -40px

.anchocol
  width: 180px
  background-color: #F6F6F6

.anchocol2
  width: 210px
  height: 160px !important
  background-color: #F6F6F6

.fondoTabla
  background-color: #79DAE1

.bordeSupTabla
  border-top: 6px solid #79DAE1

.tarjeta--boton
  border-radius: 20px
  background-color: #C0D5E4
  cursor: pointer
  transition: background-color 0.3s ease-in-out
